In [145]:
%load_ext autoreload
%autoreload 2

import time

import numpy as np
import pandas as pd
import requests
import requests_cache
import rpy2.robjects as ro
import torch
from rdkit import Chem
from rdkit.Chem import AllChem
from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
from rpy2.robjects.packages import importr
from rpy2.robjects.vectors import StrVector
from smiles2graph import getDrugGraph
from tqdm import tqdm
from utils import (get_canonical_smiles, get_pubchem_info, get_smiles_from_cid,
                   get_smiles_from_nsc)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [146]:
drugs = torch.load("../data/drug_list.pt", weights_only=False)
len(drugs)

5734

In [147]:
drugs

[1,
 186,
 295,
 577,
 721,
 740,
 742,
 750,
 752,
 755,
 757,
 762,
 844,
 1026,
 1027,
 1390,
 1895,
 1906,
 2013,
 2183,
 2384,
 2654,
 3039,
 3051,
 3053,
 3088,
 3364,
 3590,
 3894,
 3905,
 3970,
 4320,
 4728,
 5031,
 5112,
 5159,
 5889,
 5890,
 6171,
 6175,
 6268,
 6396,
 6814,
 7365,
 7521,
 7525,
 7534,
 8101,
 8117,
 8120,
 8423,
 8451,
 8806,
 9168,
 9226,
 9363,
 9364,
 9665,
 9856,
 9908,
 9948,
 11779,
 11969,
 12825,
 13119,
 13502,
 13875,
 14666,
 14974,
 14975,
 15200,
 15309,
 15384,
 15780,
 18268,
 18298,
 18334,
 18335,
 18894,
 19492,
 19893,
 19912,
 19994,
 20256,
 21075,
 21205,
 21206,
 21548,
 21729,
 22842,
 23216,
 23615,
 23759,
 24500,
 24559,
 24817,
 24818,
 24819,
 25154,
 25953,
 26271,
 26980,
 27592,
 27640,
 28130,
 30084,
 30706,
 30897,
 30986,
 32065,
 32743,
 32944,
 32946,
 33092,
 33410,
 33434,
 33530,
 33669,
 33832,
 34462,
 34931,
 35542,
 36354,
 36390,
 36508,
 37364,
 38270,
 38721,
 38876,
 39202,
 41458,
 43486,
 43675,
 45383,
 45388,
 45410,
 46401,
 48006,
 49842,
 50256,
 51143,
 51148,
 51355,
 52947,
 53292,
 53396,
 53398,
 56410,
 58368,
 58514,
 58788,
 59729,
 61586,
 61805,
 63027,
 63345,
 63445,
 63701,
 63878,
 64692,
 64703,
 64948,
 65104,
 65346,
 65381,
 66357,
 67574,
 67657,
 67774,
 68075,
 68928,
 68929,
 68989,
 69599,
 69601,
 69602,
 69856,
 70845,
 70929,
 71261,
 71264,
 71851,
 71901,
 71935,
 71936,
 72847,
 73172,
 73413,
 73754,
 74518,
 74859,
 75603,
 76076,
 76387,
 76411,
 76455,
 76557,
 76779,
 76919,
 77007,
 77036,
 77037,
 77213,
 77380,
 77471,
 77950,
 78312,
 79037,
 79389,
 80870,
 81047,
 81048,
 81206,
 81549,
 82151,
 83251,
 83265,
 83292,
 83340,
 83628,
 83950,
 85239,
 85242,
 85442,
 85775,
 85998,
 86100,
 86715,
 87206,
 87221,
 87222,
 88468,
 89201,
 89239,
 89671,
 91768,
 91874,
 91994,
 92859,
 93134,
 93419,
 93819,
 94217,
 94219,
 94739,
 94743,
 95441,
 95466,
 95580,
 95678,
 96019,
 96379,
 97879,
 97881,
 97882,
 97885,
 97886,
 97888,
 97889,
 98542,
 99016,
 99282,
 99733,
 100045,
 100046,
 100058,
 100844,
 100880,
 101329,
 101331,
 101335,
 101337,
 102004,
 102627,
 102811,
 102813,
 102815,
 102816,
 102817,
 103005,
 103645,
 103837,
 104801,
 105023,
 105024,
 105546,
 106399,
 106870,
 106873,
 106877,
 106885,
 106886,
 106901,
 107041,
 107124,
 107392,
 107529,
 107660,
 109229,
 109351,
 109441,
 109724,
 110101,
 110326,
 110344,
 111180,
 111533,
 112152,
 112166,
 112167,
 112758,
 112903,
 112907,
 113137,
 114346,
 114570,
 114573,
 114781,
 115497,
 115829,
 117180,
 117212,
 118030,
 118090,
 118742,
 118994,
 119754,
 119875,
 122023,
 122224,
 122716,
 122750,
 122819,
 122870,
 123115,
 123127,
 123538,
 123976,
 124668,
 125066,
 125718,
 125973,
 126727,
 126728,
 126730,
 126765,
 126766,
 126771,
 126849,
 127680,
 127682,
 127687,
 127716,
 127755,
 128895,
 129943,
 131039,
 131547,
 132313,
 132319,
 132483,
 132791,
 133100,
 133114,
 133115,
 134033,
 134054,
 134727,
 135036,
 135073,
 135687,
 135688,
 135689,
 135758,
 135964,
 135975,
 135976,
 135983,
 135996,
 136014,
 136044,
 136052,
 136955,
 138425,
 138780,
 138925,
 139105,
 139235,
 139490,
 140377,
 141520,
 141527,
 141537,
 141540,
 141633,
 142055,
 142206,
 142227,
 142982,
 143020,
 143095,
 143108,
 143471,
 143483,
 143648,
 144126,
 144128,
 144153,
 144303,
 145150,
 145168,
 145668,
 145669,
 146208,
 146396,
 146443,
 146604,
 147340,
 148823,
 148958,
 149501,
 149789,
 150014,
 150817,
 150834,
 150862,
 152210,
 152731,
 153353,
 153858,
 155693,
 155694,
 156130,
 157004,
 157035,
 157365,
 157995,
 158207,
 159228,
 159935,
 159951,
 159953,
 159954,
 160019,
 160040,
 160047,
 160054,
 160127,
 160145,
 160147,
 160165,
 162047,
 162062,
 162083,
 162113,
 162800,
 162887,
 162907,
 163027,
 163059,
 163062,
 163088,
 163133,
 163501,
 163661,
 164011,
 164017,
 164018,
 164876,
 164877,
 164909,
 164914,
 164970,
 164981,
 165528,
 165563,
 165572,
 165604,
 165682,
 165697,
 165706,
 165707,
 165717,
 165765,
 165810,
 165839,
 165897,
 166100,
 166327,
 166401,
 166430,
 166454,
 166456,
 166464,
 166496,
 166520,
 166616,
 166648,
 166679,
 166682,
 166683,
 166728,
 166738,
 166739,
 166906,
 167063,
 167107,
 167172,
 167249,
 167406,
 167550,
 167551,
 167592,
 167780,
 168221,
 168411,
 168415,
 168418,
 168430,
 168516,
 168597,
 168604,
 168607,
 168670,
 168977,
 169534,
 169543,
 169547,
 169600,
 169627,
 169780,
 170105,
 172112,
 172610,
 172924,
 172946,
 173767,
 174119,
 174120,
 174121,
 174280,
 175151,
 175636,
 176323,
 176324,
 176326,
 176327,
 176328,
 176503,
 176651,
 176652,
 176654,
 176656,
 177499,
 177935,
 178248,
 178249,
 180510,
 180512,
 180973,
 181491,
 182986,
 184692,
 184711,
 184736,
 186915,
 186946,
 189793,
 191959,
 192965,
 197201,
 200692,
 200736,
 200737,
 201239,
 201241,
 204985,
 207111,
 208734,
 208912,
 208913,
 208914,
 208915,
 208916,
 208959,
 209835,
 209870,
 210717,
 210753,
 210760,
 211498,
 211500,
 211502,
 212503,
 212509,
 215139,
 216128,
 218321,
 220471,
 224117,
 224131,
 226080,
 227185,
 227228,
 227262,
 231986,
 232002,
 233872,
 234669,
 236657,
 237020,
 239072,
 239400,
 239749,
 240574,
 241240,
 241509,
 241906,
 242557,
 243022,
 243023,
 247561,
 249992,
 249995,
 251222,
 251692,
 251699,
 251819,
 251820,
 253272,
 254667,
 254668,
 254681,
 255105,
 255109,
 256439,
 256927,
 257903,
 258812,
 259272,
 259968,
 259969,
 260642,
 261726,
 264880,
 265203,
 265211,
 265450,
 265473,
 266186,
 266210,
 266535,
 266743,
 266748,
 266763,
 267213,
 267229,
 267469,
 267709,
 267712,
 267713,
 268242,
 268251,
 268789,
 268791,
 268804,
 269142,
 269148,
 269189,
 269753,
 269754,
 269756,
 269757,
 269896,
 270675,
 270693,
 273432,
 276382,
 277293,
 277817,
 279503,
 280594,
 281272,
 282752,
 283162,
 283440,
 284200,
 284356,
 284437,
 284682,
 284751,
 285166,
 285223,
 285706,
 286193,
 287486,
 290494,
 291308,
 291312,
 291643,
 292463,
 293015,
 293856,
 294601,
 294734,
 294979,
 295564,
 295566,
 295585,
 295662,
 296934,
 296961,
 297900,
 298223,
 299933,
 301457,
 301686,
 301739,
 303812,
 303861,
 304426,
 305264,
 305458,
 305884,
 306231,
 306393,
 306752,
 306951,
 307241,
 308312,
 308606,
 308847,
 308876,
 310830,
 311148,
 311152,
 311153,
 312887,
 314055,
 318807,
 319725,
 319726,
 320846,
 321803,
 322921,
 325014,
 325308,
 325319,
 325659,
 325660,
 325661,
 325663,
 326231,
 326233,
 326408,
 327181,
 327993,
 328166,
 328167,
 328415,
 328426,
 328784,
 329680,
 330499,
 330500,
 330512,
 330770,
 330915,
 332292,
 332598,
 332890,
 333598,
 333856,
 334072,
 334388,
 335142,
 335789,
 335791,
 335794,
 336628,
 337250,
 337766,
 337857,
 338258,
 338720,
 338947,
 339004,
 339281,
 339555,
 339579,
 339638,
 339875,
 340292,
 341651,
 342435,
 342443,
 342981,
 343493,
 343513,
 344007,
 344025,
 344028,
 347512,
 348115,
 348948,
 348977,
 349155,
 349156,
 349174,
 349438,
 349644,
 350895,
 351078,
 352122,
 352890,
 353451,
 353882,
 354646,
 354671,
 354843,
 354844,
 355461,
 355638,
 355644,
 356232,
 356235,
 356885,
 356891,
 356894,
 357704,
 359449,
 361128,
 361456,
 363182,
 363232,
 363787,
 363812,
 363979,
 363980,
 363981,
 364170,
 364372,
 364373,
 364433,
 366140,
 366241,
 367746,
 368390,
 368671,
 368672,
 372154,
 372155,
 372160,
 372162,
 372452,
 374998,
 375161,
 375489,
 375574,
 375575,
 375726,
 375875,
 376111,
 376128,
 376265,
 376266,
 378727,
 378731,
 378732,
 378734,
 378735,
 378736,
 378842,
 378843,
 378895,
 378896,
 381811,
 381837,
 381838,
 381866,
 381867,
 383482,
 400978,
 400979,
 403148,
 403801,
 404241,
 405647,
 406021,
 406472,
 407286,
 407808,
 408191,
 409073,
 409962,
 521777,
 525661,
 525720,
 526417,
 526598,
 526645,
 528004,
 528880,
 529108,
 529432,
 600032,
 600090,
 600285,
 600286,
 600287,
 600288,
 600289,
 600291,
 600391,
 600392,
 600681,
 601422,
 601904,
 602305,
 602668,
 602670,
 603071,
 603539,
 603724,
 604574,
 604976,
 606170,
 606172,
 606194,
 606195,
 606985,
 607097,
 607634,
 607773,
 608604,
 608984,
 609394,
 609395,
 609699,
 609700,
 609974,
 610458,
 611747,
 612049,
 613009,
 613011,
 613012,
 613327,
 613660,
 613661,
 613662,
 613678,
 613729,
 614487,
 614495,
 614890,
 615258,
 615284,
 615291,
 615484,
 615802,
 615804,
 615806,
 617135,
 617275,
 617347,
 617668,
 617825,
 617930,
 617989,
 618063,
 618069,
 618077,
 618221,
 618223,
 618233,
 618300,
 618487,
 618495,
 618571,
 618635,
 618857,
 618862,
 618938,
 618939,
 619003,
 619027,
 619029,
 619030,
 619031,
 619102,
 619130,
 619413,
 619687,
 619917,
 619989,
 620129,
 620130,
 620261,
 620687,
 ...]

In [90]:
cid = pd.read_csv(
    "~/Downloads/nsc_sid_cid.csv",
    on_bad_lines="skip",
    usecols=["NSC", "CID"],
)
cid = cid.dropna().reset_index(drop=True)
cid = cid[cid["NSC"].isin(drugs)]

In [91]:
j = pd.read_csv("~/Downloads/nsc_smiles.csv").dropna()
j

           NSC                                             SMILES
0            1                                  CC1=CC(=O)C=CC1=O
1            2                     S(Sc1nc2ccccc2s1)c3nc4ccccc4s3
2            3            Oc1c(Cl)cc(cc1[N+](=O)[O-])[N+](=O)[O-]
3            4                             Nc1ncc(s1)[N+](=O)[O-]
4            5                      Nc1ccc2C(=O)c3ccccc3C(=O)c2c1
...        ...                                                ...
321745  853988  CN1CCN(C[C@@H]2COc3ccc(OCc4ccnc(n4)c5ccc(OC[C@...
321746  854009  C[C@H]1CN(C)CCN1c2cc(NC(=O)Cn3cc(c4cc(C(=O)N)c...
321747  854010  CCNCCc1ccc(CN(CC)c2cc(OC)ccc2[C@@H]3CCc4cc(O)c...
321748  854043  O.CCn1c(c2CC(C)(C)COC(=O)[C@@H]3CCCN(N3)C(=O)[...
321749  854044  O.CCn1c(c2CC(C)(C)COC(=O)[C@@H]3CCCN(N3)C(=O)[...

[316135 rows x 2 columns]

In [92]:
drugs

[1895,
 2654,
 3051,
 8117,
 15200,
 15384,
 23216,
 33832,
 36390,
 41458,
 46401,
 51143,
 53398,
 61586,
 63345,
 63445,
 64948,
 69856,
 71901,
 71935,
 71936,
 72847,
 75603,
 76779,
 77471,
 77950,
 83340,
 83628,
 85775,
 91768,
 93819,
 94217,
 94219,
 95580,
 96019,
 99282,
 100045,
 100844,
 102627,
 105023,
 105024,
 107041,
 109229,
 109441,
 110326,
 111180,
 112758,
 114573,
 117212,
 118742,
 122716,
 124668,
 126730,
 132319,
 139490,
 141520,
 142982,
 143020,
 145168,
 146443,
 149501,
 149789,
 150817,
 157365,
 159228,
 168411,
 169534,
 170105,
 174120,
 174280,
 180512,
 191959,
 200692,
 210717,
 224131,
 227185,
 227228,
 237020,
 294601,
 295564,
 298223,
 305264,
 307241,
 308312,
 311148,
 325659,
 325660,
 325661,
 327181,
 349438,
 355638,
 356232,
 356235,
 363787,
 372160,
 372162,
 378842,
 378843,
 378895,
 378896,
 381811,
 381867,
 406472,
 525661,
 526598,
 600391,
 600392,
 603539,
 608604,
 608984,
 613678,
 614487,
 615284,
 615291,
 618077,
 618223,
 618233,
 618487,
 618495,
 618857,
 619030,
 619031,
 619989,
 620130,
 622493,
 622494,
 623274,
 623275,
 623276,
 623277,
 623278,
 623279,
 623280,
 623281,
 623282,
 623283,
 623433,
 623434,
 623435,
 623436,
 623586,
 624239,
 624589,
 625384,
 625662,
 625733,
 625769,
 625770,
 626201,
 626541,
 626674,
 626813,
 626814,
 626815,
 626818,
 626819,
 626820,
 627322,
 627404,
 627405,
 627480,
 627997,
 628604,
 629801,
 631596,
 631737,
 631738,
 631739,
 631740,
 631741,
 632307,
 632990,
 633243,
 633654,
 633655,
 633661,
 633664,
 633983,
 633984,
 634169,
 634170,
 634374,
 634375,
 634563,
 635089,
 636009,
 636191,
 636192,
 636193,
 636194,
 636195,
 636196,
 636197,
 636198,
 636199,
 636200,
 636201,
 636202,
 636203,
 636204,
 636205,
 636206,
 636207,
 636208,
 636209,
 636210,
 636211,
 636212,
 636213,
 636214,
 636215,
 636216,
 636217,
 636218,
 636219,
 636220,
 636221,
 636222,
 636223,
 636224,
 636597,
 636853,
 637907,
 638389,
 638505,
 638506,
 638507,
 638718,
 638719,
 638792,
 639635,
 639636,
 640039,
 640040,
 640084,
 640157,
 640158,
 640750,
 642511,
 643728,
 644023,
 644024,
 644458,
 645014,
 645019,
 645205,
 646112,
 646113,
 646137,
 646138,
 646139,
 646140,
 646141,
 646142,
 646276,
 648365,
 650289,
 650290,
 650291,
 650292,
 652903,
 653000,
 653380,
 653865,
 654490,
 654491,
 654492,
 654493,
 654494,
 654495,
 654496,
 654497,
 654498,
 655748,
 655749,
 655750,
 655751,
 655752,
 655753,
 655754,
 655755,
 655757,
 655758,
 655759,
 656576,
 656667,
 658398,
 661254,
 661583,
 661964,
 666132,
 666134,
 666136,
 666139,
 666140,
 666141,
 666142,
 666170,
 666171,
 666172,
 666739,
 666740,
 668002,
 668003,
 668004,
 668005,
 668006,
 668007,
 668008,
 668009,
 668015,
 668016,
 668017,
 668018,
 668019,
 668020,
 670194,
 670348,
 670349,
 670351,
 670352,
 670353,
 670354,
 670355,
 670356,
 670359,
 670362,
 670363,
 670389,
 670390,
 670391,
 670392,
 670393,
 670395,
 671017,
 671526,
 673171,
 673172,
 673267,
 674127,
 676807,
 677088,
 678038,
 678111,
 678407,
 678408,
 678409,
 678410,
 678411,
 678412,
 678517,
 678518,
 678519,
 678520,
 678521,
 678522,
 678523,
 678524,
 678525,
 683039,
 683132,
 683133,
 683134,
 683135,
 683428,
 685354,
 685355,
 685356,
 685357,
 685358,
 685359,
 685360,
 685361,
 685362,
 685363,
 685920,
 685921,
 685922,
 685923,
 685924,
 687011,
 688097,
 688523,
 688524,
 689577,
 694246,
 694252,
 694282,
 695797,
 695798,
 696252,
 696259,
 696860,
 696861,
 697123,
 700363,
 705566,
 705567,
 705628,
 707961,
 712807,
 719240,
 719241,
 719242,
 719243,
 719344,
 720308,
 722333,
 727982,
 727983,
 727984,
 727985,
 727986,
 727987,
 727988,
 740286,
 740287,
 740288,
 740289,
 740290,
 740291,
 740292,
 740293,
 740294,
 742351,
 744479,
 747803,
 747804,
 748120,
 754277,
 759061,
 761264,
 767067,
 767593,
 775664,
 783840,
 800528,
 807448,
 811189,
 819151,
 819152,
 819153]

In [93]:
l = pd.read_csv(
    "~/Downloads/4119094074703879483.txt.gz", sep="\t", header=None
).dropna()
l.columns = ["NSC", "CID"]
l

        NSC         CID
0      1895     15078.0
1      2654      6597.0
2      3051     31254.0
3      8117  54676860.0
4     15200   6711183.0
..      ...         ...
405  719344      2187.0
425  744479  20189670.0
426  747803  23245656.0
427  747804  54612711.0
435  783840     25775.0

[168 rows x 2 columns]

In [94]:
k = pd.concat([cid, l]).dropna()
k = k.drop_duplicates()
k["SMILES"] = [get_smiles_from_cid(str(int(i))) for i in k["CID"]]

Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...

In [95]:
k

           NSC         CID                                             SMILES
1874      1895     15078.0                                    C1(=NC(=NN1)N)N
2627      2654      6597.0                                    C(C(=O)O)(Cl)Cl
3014      3051     31254.0                                              CNC=O
7934      8117  54676860.0                         C(C(C1C(=C(C(=O)O1)O)O)O)O
14565    15200   6711183.0                               [N+](=O)(O)[O-].[Ga]
...        ...         ...                                                ...
254710  719344      2187.0      CC(C)(C#N)C1=CC(=CC(=C1)CN2C=NC=N2)C(C)(C)C#N
265083  744479  20189670.0                              C(C(=O)O)(Cl)Cl.[Na+]
266264  747803  23245656.0  C1=CC=C2C(=C1)C(=O)/C(=C\NC3=CC(=C(C=C3)C(=O)O...
266265  747804  54612711.0  C1=CC=C2C(=C1)C(=O)/C(=C\NC3=CC(=C(C=C3)O)C(=O...
280545  783840     25775.0                              COC(=O)CCC(=O)C(=O)OC

[168 rows x 3 columns]

In [96]:
fromCID = k[k.dropna().SMILES != "'PUGREST.ServerBusy'"][["NSC", "SMILES"]]
fromCID

           NSC                                             SMILES
1874      1895                                    C1(=NC(=NN1)N)N
2627      2654                                    C(C(=O)O)(Cl)Cl
3014      3051                                              CNC=O
7934      8117                         C(C(C1C(=C(C(=O)O1)O)O)O)O
14565    15200                               [N+](=O)(O)[O-].[Ga]
...        ...                                                ...
254710  719344      CC(C)(C#N)C1=CC(=CC(=C1)CN2C=NC=N2)C(C)(C)C#N
265083  744479                              C(C(=O)O)(Cl)Cl.[Na+]
266264  747803  C1=CC=C2C(=C1)C(=O)/C(=C\NC3=CC(=C(C=C3)C(=O)O...
266265  747804  C1=CC=C2C(=C1)C(=O)/C(=C\NC3=CC(=C(C=C3)O)C(=O...
280545  783840                              COC(=O)CCC(=O)C(=O)OC

[168 rows x 2 columns]

In [97]:
fromCID.sort_values("NSC")

           NSC                                             SMILES
1874      1895                                    C1(=NC(=NN1)N)N
2627      2654                                    C(C(=O)O)(Cl)Cl
3014      3051                                              CNC=O
7934      8117                         C(C(C1C(=C(C(=O)O1)O)O)O)O
14565    15200                               [N+](=O)(O)[O-].[Ga]
...        ...                                                ...
254710  719344      CC(C)(C#N)C1=CC(=CC(=C1)CN2C=NC=N2)C(C)(C)C#N
265083  744479                              C(C(=O)O)(Cl)Cl.[Na+]
266264  747803  C1=CC=C2C(=C1)C(=O)/C(=C\NC3=CC(=C(C=C3)C(=O)O...
266265  747804  C1=CC=C2C(=C1)C(=O)/C(=C\NC3=CC(=C(C=C3)O)C(=O...
280545  783840                              COC(=O)CCC(=O)C(=O)OC

[168 rows x 2 columns]

In [98]:
cid = pd.read_csv(
    "~/Downloads/nsc_sid_cid.csv",
    on_bad_lines="skip",
    usecols=["NSC", "CID"],
)
cid = cid.dropna().reset_index(drop=True)
cid = cid[cid["NSC"].isin(drugs)]
cid["SMILES"] = [get_smiles_from_cid(str(int(i))) for i in cid["CID"]]
cid = cid[["NSC", "SMILES"]]

Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...
Server is busy. Retrying in 5 seconds...

In [99]:
o = pd.read_csv("~/Downloads/nsc_smiles.csv")
o = o[o.NSC.isin(drugs)].dropna()

In [100]:
cellminer = importr("rcellminer")
r_nsc_set = StrVector([str(i) for i in drugs])
r_smiles = cellminer.getSmiles(r_nsc_set)
r_smiles = pd.DataFrame([drugs, list(r_smiles)]).T
r_smiles = r_smiles[r_smiles[1] != ro.NA_Character]
r_smiles = r_smiles[r_smiles[1] != ""]
r_smiles.columns = ["NSC", "SMILES"]

In [101]:
k = pd.read_csv(
    "~/Downloads/2717352336174282052.txt.gz", sep="\t", header=None
).dropna()
k.columns = ["NSC", "SMILES"]
k

        NSC                                             SMILES
0      1895                                    C1(=NC(=NN1)N)N
1      2654                                    C(C(=O)O)(Cl)Cl
2      3051                                              CNC=O
3      8117                         C(C(C1C(=C(C(=O)O1)O)O)O)O
4     15200                               [N+](=O)(O)[O-].[Ga]
..      ...                                                ...
405  719344      CC(C)(C#N)C1=CC(=CC(=C1)CN2C=NC=N2)C(C)(C)C#N
425  744479                              C(C(=O)O)(Cl)Cl.[Na+]
426  747803  C1=CC=C2C(=C1)C(=O)/C(=C\NC3=CC(=C(C=C3)C(=O)O...
427  747804  C1=CC=C2C(=C1)C(=O)/C(=C\NC3=CC(=C(C=C3)O)C(=O...
435  783840                              COC(=O)CCC(=O)C(=O)OC

[168 rows x 2 columns]

In [102]:
smiles = pd.concat([cid, o, r_smiles, k]).drop_duplicates(subset="NSC")
smiles

           NSC                                             SMILES
1874      1895                                    C1(=NC(=NN1)N)N
2627      2654                                    C(C(=O)O)(Cl)Cl
3014      3051                                              CNC=O
7934      8117                         C(C(C1C(=C(C(=O)O1)O)O)O)O
14565    15200                               [N+](=O)(O)[O-].[Ga]
...        ...                                                ...
225661  633243  [R]Oc1ccc(cc1)S(=O)(=O)c2ccc(Oc3ccc(Cc4cccc(n4...
226296  634169  [R]Oc1ccc(cc1)C(=O)c2cccc(n2)C(=O)c3ccc(OC4CCC...
226297  634170  [R]Oc1ccc(cc1)S(=O)(=O)c2ccc(Oc3ccc(cc3)C(C)(C...
239813  661964  CCC(C)(C)c1ccc(O)c([R]SSc2cc(cc(c2O)[RH])C(C)(...
244184  671017      [R]\N=C/1\N=C([R])C2=C1SC(Cc3ccccc3)(OCCCC)S2

[188 rows x 2 columns]

In [103]:
smiles

           NSC                                             SMILES
1874      1895                                    C1(=NC(=NN1)N)N
2627      2654                                    C(C(=O)O)(Cl)Cl
3014      3051                                              CNC=O
7934      8117                         C(C(C1C(=C(C(=O)O1)O)O)O)O
14565    15200                               [N+](=O)(O)[O-].[Ga]
...        ...                                                ...
225661  633243  [R]Oc1ccc(cc1)S(=O)(=O)c2ccc(Oc3ccc(Cc4cccc(n4...
226296  634169  [R]Oc1ccc(cc1)C(=O)c2cccc(n2)C(=O)c3ccc(OC4CCC...
226297  634170  [R]Oc1ccc(cc1)S(=O)(=O)c2ccc(Oc3ccc(cc3)C(C)(C...
239813  661964  CCC(C)(C)c1ccc(O)c([R]SSc2cc(cc(c2O)[RH])C(C)(...
244184  671017      [R]\N=C/1\N=C([R])C2=C1SC(Cc3ccccc3)(OCCCC)S2

[188 rows x 2 columns]

In [104]:
df = pd.concat([smiles, fromCID]).drop_duplicates()
df

           NSC                                             SMILES
1874      1895                                    C1(=NC(=NN1)N)N
2627      2654                                    C(C(=O)O)(Cl)Cl
3014      3051                                              CNC=O
7934      8117                         C(C(C1C(=C(C(=O)O1)O)O)O)O
14565    15200                               [N+](=O)(O)[O-].[Ga]
...        ...                                                ...
225661  633243  [R]Oc1ccc(cc1)S(=O)(=O)c2ccc(Oc3ccc(Cc4cccc(n4...
226296  634169  [R]Oc1ccc(cc1)C(=O)c2cccc(n2)C(=O)c3ccc(OC4CCC...
226297  634170  [R]Oc1ccc(cc1)S(=O)(=O)c2ccc(Oc3ccc(cc3)C(C)(C...
239813  661964  CCC(C)(C)c1ccc(O)c([R]SSc2cc(cc(c2O)[RH])C(C)(...
244184  671017      [R]\N=C/1\N=C([R])C2=C1SC(Cc3ccccc3)(OCCCC)S2

[188 rows x 2 columns]

In [57]:
missing = pd.DataFrame(sorted(set(drugs) - set(df.NSC)))
# .to_csv('missing.csv')

In [59]:
missing[0]

0       15384
1       36390
2       46401
3       53398
4       63445
        ...
249    807448
250    811189
251    819151
252    819152
253    819153
Name: 0, Length: 254, dtype: int64

In [68]:
l = pd.read_excel("~/Downloads/nsc_chemcal_name.xltx")
l

           NSC                                           NAME
0            1                                WLN: L6V DVJ B1
1            1  2,5-CYCLOHEXADIENE-1,4-DIONE, 2-METHYL- (9CI)
2            1                                  P-TOLUQUINONE
3            1                              TOLUQUINONE (VAN)
4            1                                   TOLYLQUINONE
...        ...                                            ...
265409  854044                                        RMC7977
265410  854044                               RMC-7977 HYDRATE
265411  854044                                       RMC-7977
265412  854044                                     CT-RMC7977
265413  854044                                RMC9799 HYDRATE

[265414 rows x 2 columns]

In [71]:
name = l[l.NSC.isin(missing[0])]
name

           NSC                                               NAME
59014    15384                 SULFONATED CASTOR OIL, SODIUM SALT
59015    15384                                   RICINUS COMMUNIS
86013    36390  RESIN PODOPHYLLUM, USP, FROM MANDRAKE ROOTS, C...
86014    36390                            PODOPHYLLUM (THE RESIN)
86015    36390                                        PODOPHYLLIN
...        ...                                                ...
259563  807448  PEGYLATED CYSTATHIONINE BETA-SYNTHASE (CBS) EN...
260265  811189          HUMAN SERUM ALBUMIN IS DOMINANT STRUCTURE
262000  819151       THHHKHPGG[6-AMINOHEXANOIC ACID]GRKKRRQRRRPPQ
262001  819152       TEDSKTHHH[6-AMINOHEXANOIC ACID]GRKKRRQRRRPPQ
262002  819153                                      GRKKRRQRRRPPQ

[338 rows x 2 columns]

In [80]:
name["SMILES"] = [get_canonical_smiles(i) for i in name.NAME]
name

/var/folders/s4/6xgylm7x3yzgfsk6sbvk_7_c0000gn/T/ipykernel_8125/1265607948.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name['SMILES'] = m

,NSC,NAME,SMILES
59014,15384,"SULFONATED CASTOR OIL, SODIUM SALT",None
59015,15384,RICINUS COMMUNIS,None
86013,36390,"RESIN PODOPHYLLUM, USP, FROM MANDRAKE ROOTS, C...",None
86014,36390,PODOPHYLLUM (THE RESIN),None
86015,36390,PODOPHYLLIN,COC1=CC(=CC(=C1OC)OC)C2C3C(COC3=O)C(C4=CC5=C(C...
...,...,...,...
259563,807448,PEGYLATED CYSTATHIONINE BETA-SYNTHASE (CBS) EN...,None
260265,811189,HUMAN SERUM ALBUMIN IS DOMINANT STRUCTURE,None
262000,819151,THHHKHPGG[6-AMINOHEXANOIC ACID]GRKKRRQRRRPPQ,None
262001,819152,TEDSKTHHH[6-AMINOHEXANOIC ACID]GRKKRRQRRRPPQ,None
262002,819153,GRKKRRQRRRPPQ,None

In [108]:
df = pd.concat([df, name[["NSC", "SMILES"]]]).dropna()
df

           NSC                                             SMILES
1874      1895                                    C1(=NC(=NN1)N)N
2627      2654                                    C(C(=O)O)(Cl)Cl
3014      3051                                              CNC=O
7934      8117                         C(C(C1C(=C(C(=O)O1)O)O)O)O
14565    15200                               [N+](=O)(O)[O-].[Ga]
...        ...                                                ...
225257  627997  C1=CC=C(C=C1)CC(=O)NC(CCC(=O)N)C(=O)[O-].C1=CC...
225890  632307              CC1(C(=C)N(C2=CC=CC=C21)CCCCCC(=O)O)C
225891  632307                  CCCCCC=CCC=CCC=CCC=CCC=CCCC(=O)OC
226967  638719  CCC(C)C1C(CC(=O)OC(C(=O)C(C(=O)NC(C(=O)N2CCCC2...
248935  767593                CNCCCN1C2=CC=CC=C2CCC3=CC=CC=C31.Cl

[219 rows x 2 columns]

In [121]:
still = name[name["SMILES"].isna()][["NSC", "SMILES"]].drop_duplicates()
still
# .to_csv('missed.csv')

           NSC SMILES
59014    15384   None
86013    36390   None
97896    46401   None
106514   53398   None
117094   63445   None
...        ...    ...
259563  807448   None
260265  811189   None
262000  819151   None
262001  819152   None
262002  819153   None

[202 rows x 2 columns]

In [127]:
query = pd.read_csv("~/Downloads/drug_name_query.csv").dropna()
query = query[query["NSC #"].isin(still["NSC"])]
query["SMILES"] = [get_canonical_smiles(i) for i in query["Drug name"]]
query

An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Ricinus%20communis/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/.alpha.-Sarcin/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/A%208671K119/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/narangomycin/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/corpormon/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/statolon%20(usan)/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/HAMYCIN/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/b%2080568/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/mitocromin/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Cirolerosus/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Iyomycin%20A%20complex/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/saramycetin/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/acetylcopiamycin/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/kundrymycin/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Stendomycin%20salicylate/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Actinorubin/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Trienine/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/sistomycosin/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/carzinostatin/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Methanesulfinic%20acid,%20hydroxy-,%20monosodium%20salt,%20reactio.../cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Blue%20platinum%20uracil%20compound/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/michicarcin/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Violamycin%20B/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Largomycin%20F-II/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/neopluramycin,%20hcl/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/carubicin%20(usan)/cids/JSON
An error occurred: 400 Client Error: PUGREST.BadRequest for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/ANEMONIA%20SULCATA,%20PROTEINASE%20INHIBITOR%20FROM%20(INHIBITOR%20#2)/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/sapindus%20saponin%20a/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/sapindus%20saponin%20b/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/sapindus%20saponin%20c/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/ANEMONIA%20SULCATA,%20BASIC%20PROTEINASE-INHIBITORS%20FROM%20THE/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/n-107-4%20(streptomyces%20sp)/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/L-Cysteine,%20homopolymer,%20diphenyltin%20complex/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Chitosanbiguanide/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/bafilomycin%20antibiotic/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Flammulin/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Antibiotic%202-79-A(5)/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Antibiotic%20mixture%20B-1625%20FA2%20&%20FA3/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Leucinostatine%20D/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Amrit%20Kalash/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Analog%20of%20CC-1065/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Analog%20of%20CC-1065/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/OVB3-PE/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/IL2-PE40/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/IL6-PE40/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/TGF.alpha.-PE40/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Polyethylene%20Glycol%20L-Asparaginase/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Brominated%20ATA%20polymer,%20bromine%20content%2028.9%25/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/TGF%20.beta.1/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/PT-2a/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/cholera%20toxin/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Cetuximab/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/ABRIN%20A/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Immune%20Factor%20Extract%20from%20DBA/2%20light%20grey%20mouse/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Immune%20Factor%20Extract%20from%20C57B6/6%20black%20mouse/cids/JSON

An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/N-Cys%20HIV%20(583-599)/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Guanidinium%20salt%20of%20Tungstoantimonate/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Peptide%20isolated%20from%20Viscum%20alblum%20extract%20(Iscador)/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Crotoxin%20CD/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/LAM%201C3/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/LAM%202E3/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/LAM%205A6/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/NOR%205H10/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/NOR%201E11/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/NOR%201G9/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/EWA%204A1/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/BAR%205E1/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/BAR%205F1/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/BAR%202A5/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/BAR%203G6/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/BAR%203C2/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/FRI%20A12/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/FRI%20C4/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/FRI%20D1/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/FRI%201A6/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/FRI%203B1/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/FRI%203C3/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/LAC%204D12/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/LAC%204E9/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/ADA%202F8/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/ADA%201A10/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/ADA%201G5/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/DHL%205H12/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/DHL%202G12/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/DHL%203H12/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/DHL%204A8/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/DHL%205D10/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/DHL%206A9/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/DHL%206F3/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/DHL%206E4/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/RB5B7G5/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/RBC4/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/SHE%201H7/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Polymer%20containing%20stable%20free%20verdazyl%20radicals-%20polyel.../cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Cancell/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Neem%20AN%20AB%20(Leaf%20extract)/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Neem%20SL%20AB%20(Leaf%20extract)/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Neem%20SL%20C%20(Leaf%20extract)/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Mollugogenol-A%20glycoside/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/TP-Saponins/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Recombinant%20Human%20Endothelial%20Interleukin-8%20(77%20amino%20ac.../cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Recombinant%20Human%20Monocytic%20Interleukin-8%20(72%20amino%20acid.../cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Taka%20New%20No.-1/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Taka%20New%20No.-2/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Mixture%20of%209%20Chinese%20herbs/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Compound%20E%20from%20Chinese%20domestic%20plant/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Nucleoprotamine%20compound/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Histonic%20compound/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Milodistim/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Jayama/cids/JSON

Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/NKLB/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Water%20extract%20from%20Clivia%20Miniata%20Regel/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Efinrin%20leaves%20extract%20A/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/insulin-methotrexate%20conjugate/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Protein%20Toxin%20A%2023%20-%20MW%20approx.%206700/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Protein%20toxin%20B%2015%20-%20MW%20approx%206700/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Protein%20toxin%20C%2010%20-%20MW%20approx.%206700/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Protein%20toxin%20D%205%20-%20MW%20approx%206700/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Saframycin%20AR1(AH2),%20methycarbinol%20deriv.-,%20stereoisomer/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Lariphan/cids/JSON
An error occurred: 400 Client Error: PUGREST.BadRequest for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Chloroform/methanol%20extract%20from%20bulbs%20of%20parncratium%20ma.../cids/JSON
An error occurred: 400 Client Error: PUGREST.BadRequest for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Chloroform/methanol%20extract%20from%20pancratium%20maritimum%20L..../cids/JSON
An error occurred: 400 Client Error: PUGREST.BadRequest for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Chloroform/methanol%20extract%20from%20pancratium%20maritimum%20L..../cids/JSON
An error occurred: 400 Client Error: PUGREST.BadRequest for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Chloroform/methanol%20extract%20from%20pancratium%20maritimum%20L..../cids/JSON
An error occurred: 400 Client Error: PUGREST.BadRequest for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Chloroform/methanol%20extract%20from%20pancratium%20maritimum%20L..../cids/JSON
An error occurred: 400 Client Error: PUGREST.BadRequest for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Chloroform/methanol%20extract%20from%20pancratium%20maritimum%20L..../cids/JSON
An error occurred: 400 Client Error: PUGREST.BadRequest for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Chloroform/methanol%20extract%20from%20pancratium%20maritimum%20L..../cids/JSON
An error occurred: 400 Client Error: PUGREST.BadRequest for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Chloroform/methanol%20extract%20from%20pancratium%20maritimum%20L..../cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Ethanolic%20extract%20from%20pancratium%20maritimum%20L.%20bulbs/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/toxin%20.delta.53l/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/IL4(38-37)-PE38KDEL/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Anti-human%20Fas,%20monoclonal/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/IL4(38-37)-PE38%20toxin/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Glycoprotein%20isolated%20from%20Dunaliella%20salina%20and%20consist.../cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Protein:%20PA/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Protein:%20LF/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Protein:%20EF/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Protein:%20FP59/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Protein:%20LF-TTLC/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Protein:%2033/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Protein:%20PA30-14/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Protein:%20PAHIV1/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Protein:%20PAHIV4/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/ERB-38%20Immunotoxin/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/5'-tct%20ccc%20agc%20gtg%20cgc%20cat%20(mw=5,685)/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Trastuzumab/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/34-Mer%20peptide:%20LSEDKLLACGEGAADIIIGHLCIRHEMTPVNPGV/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/34-Mer%20peptide:%20GINHLPSDAVGTAIEVMPCLRDGKLCIGAEHIEL/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Formamicin,%20MW=808/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Mixture%20of%20Septacidins(90%25)%20with%20varying%20length%20fatty%20ac.../cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Protease%20inhibitor%20from%20rabbit%20skeletal%20muscle/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Annamycin%20Liposomal/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/42-mer%20Peptide,%20Ac-W10AP%20(MW=5550.7)/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/42-mer%20Peptide,%20Ac-AM2AP%20(MW=5338.4)/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/stearyl-kprrpytdnytrlrkqzavkkylnsiln/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Apotransferrin%20complexed%20w/%20cis-%5BCl2(NH3)4RuIII%5DCl,%20MW=2.../cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Apotransferrin%20complexed%20w/%20(ImH)trans-%5B(Im)2Cl4RuIII%5D,%20.../cids/JSON
Server is busy. Retrying in 5 seconds...

An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Holotransferrin%20complexed%20w/%20cis-%5BCl2(NH3)4RuIII%5DCl,%20MW=.../cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Holotransferrin%20complexed%20w/(ImH)trans-%5B(Im)2Cl4RuIII,%20M.../cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Fusion%20protein%2059%20(FP59)%20plus%20Protective%20Antigen%20(PA)at%20.../cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Doxorubicin-Transferrin%20conjugate%20(Dox/TrF=2.5),~%20Dox:%202.../cids/JSON
An error occurred: 404 Client Error: Not Found for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/NSC%20701656%20incorporated%20in%20micelles,%200.73%25%20(w/w)%20of%20drug./cids/JSON
An error occurred: 404 Client Error: Not Found for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/NSC%20701657%20incorporated%20in%20micelles,%200.25%25%20(w/w)%20of%20drug/cids/JSON
An error occurred: 404 Client Error: Not Found for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/NSC%20701659%20incorporated%20in%20micelles,%200.28%25%20(w/w)%20of%20drug/cids/JSON
An error occurred: 404 Client Error: Not Found for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/NSC%20708781%20incorporated%20in%20micelles,%200.55%25%20(w/w)%20of%20drug/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/NSC%20708782%20incorporated%20in%20micelles,%200.45%25%20(w/w)%20of%20drug/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/NSC%20708783%20incorporated%20in%20micelles,%200.20%25%20(w/w)%20of%20drug/cids/JSON
An error occurred: 404 Client Error: Not Found for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/NSC%20708788%20incorporated%20in%20micelles,%200.20%25%20(w/w)%20of%20drug/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/BAD%20092%20antibody/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/BFE%20055%20antibody/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/BBG%20066%20antibody/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/AE3%20antibody/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/G1%20antibody/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/COC183B2%20antibody/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/4A11-2F6%20antibody/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/2H11-1E11%20antibody/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/2G5-1E10%20antibody/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/peptide%20dd1/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/glipr1-.delta.tm/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/tnf-related%20apoptosis-inducing%20ligand/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/mab631/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/mab347/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/ltbr%20agonist%20mab/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/reshimunne/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/hemolysin%20bl%20proteins/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Paclitaxel-Copper-Albumin%20(PCA)/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/PEGylated%20cystathionine%20beta-synthase%20(CBS)%20enzyme/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/Human%20Serum%20Albumin%20is%20dominant%20structure/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/THHHKHPGG%5B6-aminohexanoic%20acid%5DGRKKRRQRRRPPQ/cids/JSON
Server is busy. Retrying in 5 seconds...
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/TEDSKTHHH%5B6-aminohexanoic%20acid%5DGRKKRRQRRRPPQ/cids/JSON
An error occurred: 404 Client Error: PUGREST.NotFound for url: https://pubchem.ncbi.nlm.nih.gov/rest/pug/compound/name/GRKKRRQRRRPPQ/cids/JSON

,NSC #,Drug name,SMILES
859,15384.0,Ricinus communis,None
1628,36390.0,Podophyllin,COC1=CC(=CC(=C1OC)OC)C2C3C(COC3=O)C(C4=CC5=C(C...
2021,46401.0,.alpha.-Sarcin,None
2267,53398.0,A 8671K119,None
2548,63445.0,narangomycin,None
...,...,...,...
55830,807448.0,PEGylated cystathionine beta-synthase (CBS) en...,None
56100,811189.0,Human Serum Albumin is dominant structure,None
56791,819151.0,THHHKHPGG[6-aminohexanoic acid]GRKKRRQRRRPPQ,None
56792,819152.0,TEDSKTHHH[6-aminohexanoic acid]GRKKRRQRRRPPQ,None
56793,819153.0,GRKKRRQRRRPPQ,None

In [131]:
query = query.dropna()[["NSC #", "SMILES"]]
query.columns = ["NSC", "SMILES"]
query

            NSC                                             SMILES
1628    36390.0  COC1=CC(=CC(=C1OC)OC)C2C3C(COC3=O)C(C4=CC5=C(C...
2739    69856.0  CC1C(C(C(C(O1)OC2C3CC#CC4C(O4)(C#CC3=CC2OC(=O)...
3394    91768.0  CC1CCC(C(C(CC(C(C=CC=C(C(=O)OC(C(C=CC=C(C(CC(C...
3487    94219.0  CC1C=CC=CC=CC=CC=CC=CC=CC(CC(C(C(CC(=O)CC(CC(C...
3794   105024.0  CC1C(C(CC(O1)OC2CC(OC(C2O)C)OC3=CC4=CC5=C(C(=O...
3919   109229.0                  CC1=CC(=C(C=C1)C(=O)C(=C)CN(C)C)C
5472   170105.0             COC1=CC(=C2C(=C1)OC(=C)C(=O)N2)C(=O)OC
8762   608604.0  CCC(C(C)C(C(C)C(C(C)C1C(C2C(O2)C(CCCC(CC(CC3CC...
10661  622493.0  C(C1C2C(C(C(O1)OC3C(OC(C(C3O)O)OC4C(OC(C(C4O)O...
10662  622494.0  C(C1C2C(C(C(O1)OC3C(OC(C(C3O)O)OC4C(OC(C(C4O)O...
12147  625770.0  C1=CC(=C(C=C1C(=C2C=CC(=O)C(=C2)C(=O)O)C3=CC(=...

In [142]:
df = pd.concat([query, df]).drop_duplicates()
df = pd.concat([df, pd.read_csv("missed.csv").dropna()]).dropna()
df

           NSC                                             SMILES
1628   36390.0  COC1=CC(=CC(=C1OC)OC)C2C3C(COC3=O)C(C4=CC5=C(C...
2739   69856.0  CC1C(C(C(C(O1)OC2C3CC#CC4C(O4)(C#CC3=CC2OC(=O)...
3394   91768.0  CC1CCC(C(C(CC(C(C=CC=C(C(=O)OC(C(C=CC=C(C(CC(C...
3487   94219.0  CC1C=CC=CC=CC=CC=CC=CC=CC(CC(C(C(CC(=O)CC(CC(C...
3794  105024.0  CC1C(C(CC(O1)OC2CC(OC(C2O)C)OC3=CC4=CC5=C(C(=O...
...        ...                                                ...
51      622494  C(C1C2C(C(C(O1)OC3C(OC(C(C3O)O)OC4C(OC(C(C4O)O...
56      624239                  CC1=CC(=C(C=C1)C(=O)C(=C)CN(C)C)C
58      625770  C1=CC(=C(C=C1C(=C2C=CC(=O)C(=C2)C(=O)O)C3=CC(=...
62      632307  CCC1=C2CN3C(=CC4=C(C3=O)COC(=O)C4(CC)O)C2=NC5=...
159     694246  CCCCCC1C2CC(=CC=CC(C(OC(=O)C=CC(=CC(C2O)(OCO1)...

[230 rows x 2 columns]

In [144]:
for i in df["NSC"]:
    print(int(i))

36390
69856
91768
94219
105024
109229
170105
608604
622493
622494
625770
1895
2654
3051
8117
15200
23216
33832
41458
51143
63345
83628
85775
93819
95580
96019
102627
107041
109441
111180
112758
117212
118742
132319
139490
141520
142982
143020
145168
146443
149501
150817
159228
169534
174120
174280
200692
210717
224131
227228
294601
298223
307241
349438
363787
372160
381811
406472
526598
615284
615291
618077
618223
618233
618487
618495
618857
619989
620130
623586
624589
625733
626541
626674
627404
627405
633664
633983
633984
634374
634375
638718
640084
643728
646276
653000
653380
656576
656667
658398
661583
666132
666134
666136
666139
666140
666141
666142
666170
666171
666172
666739
666740
668002
668003
668004
668005
668006
668007
668008
668009
668015
668016
668017
668018
668019
668020
670348
670349
670351
670352
670353
670354
670355
670356
670359
670362
670363
670389
670390
670391
670392
670393
670395
673171
673172
674127
678038
678407
678408
678409
678410
678411
678412
683132
683133
683134
683135
685354
685355
685356
685357
685358
685359
685360
685361
685362
685363
685920
685921
685922
685923
685924
687011
689577
695797
695798
696252
696259
696860
696861
697123
707961
712807
719344
744479
747803
747804
783840
61586
71935
71936
76779
83340
99282
100045
308312
356232
378842
378843
378895
378896
625662
626201
633243
634169
634170
661964
671017
64948
77471
105023
109229
109229
157365
627997
632307
632307
638719
767593
15384
36390
69856
91768
94219
105024
109229
126730
157365
170105
305264
608604
619030
619031
622493
622494
624239
625770
632307
694246

In [150]:
df.to_csv("../data/hand_gathering_data.csv")

In [179]:
torch.save(list(set(q.NSC)), "../data/tmp.pt")

In [5]:
drug_dict = {}
for i in tqdm(tmp.iterrows()):
    drug_dict[i[1]["NSC"]] = getDrugGraph(i[1]["SMILES"])

174it [00:00, 2623.84it/s]

In [6]:
torch.save(drug_dict, "../data/data_dict.pt")

In [8]:
len(tmp)

174